<!doctype html>
<html lang="en">

<head>
  <title>Daimond World</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.0-beta1 -->
  <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="/css/styles.css" type="text/css">

</head>

<body>
  <header>
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-lg-12 col-xl-3">
          <div class="logo">
            <a href="/" title="logo"> Daimond Point </a>
          </div>
          <div class="mob-menu">
            <span>
              <i class="fa fa-bars"></i>
            </span>
          </div>
        </div>
        <div class="col-md-12 col-sm-12 col-lg-12 col-xl-9">
          <div class="main-menu">
            <ul class="nav">
              <li><a href="/"> Home </a> </li>
              <li><a href="#"> Process </a> </li>
              <li><a href="#"> Blog </a> </li>
              <li><a href="#"> Contact Us </a> </li>
            </ul>
            <ul class="right-nav">
              <li><a href="#"> <i class="fa fa-user"></i> Log in </a> </li>
              <li class="active"> <a href="#"> <i class="fa fa-sign-in"></i> Sign up </a> </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>

  <main>

  </main>
  <footer>
    <!-- place footer here -->
  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="/js/index.js"></script>
  <script>
    $(document).ready(() => {
      $('.mob-menu span').click(() => {
        $('.main-menu').slideToggle();
      });
    });
  </script>
</body>

</html>