<!doctype html>
<html lang="en">

<head>
    <title>Daimond World</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.0-beta1 -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css"
        integrity="sha512-0p3K0H3S6Q4bEWZ/WmC94Tgit2ular2/n0ESdfEX8l172YyQj8re1Wu9s/HT9T/T2osUw5Gx/6pAZNk3UKbESw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/styles.css" type="text/css">

</head>

<body>
    <main>
        <div class="loginform register-rp">
            <div class="login-brand">
                <img src="/images/KARPLogo.png" alt="logo">
            </div>
            <form method="post" action="/auth/register">
                <div class="form-outline mb-3">
                    <input type="text" class="form-control form-control-lg" placeholder="first name" name="fname"
                        required>
                </div>
                <div class="form-outline mb-3">
                    <input type="text" class="form-control form-control-lg" placeholder="middle name" name="mname"
                        required>
                </div>
                <div class="form-outline mb-3">
                    <input type="text" class="form-control form-control-lg" placeholder="last name" name="lname"
                        required>
                </div>
                <div class="form-outline mb-3">
                    <input type="text" class="form-control form-control-lg" placeholder="email" name="email"
                        aria-describedby="basic-addon1" required>
                </div>
                <div class="form-outline mb-3">
                    <input type="text" class="form-control form-control-lg" placeholder="mobile" name="mobile"
                        aria-describedby="basic-addon1" required>
                </div>
                <div class="form-outline mb-3">
                    <input type="password" class="form-control form-control-lg" placeholder="password" name="password"
                        aria-describedby="basic-addon1" required>
                </div>
                <div class="form-outline mb-3">
                    <input type="password" class="form-control form-control-lg" placeholder="Confirm password"
                        name="cpassword" aria-describedby="basic-addon1" required>
                </div>
                <!-- 2 column grid layout for inline styling -->
                <div class="row mb-4">
                    <div class="col">
                        <p>Already have account? <a href="/auth/login">Login</a></p>
                    </div>
                </div>
                <!-- Submit button -->
                <button class="btn btn-primary btn-block mb-4" type="submit">Register</button>
            </form>
        </div>
    </main>
    <footer>
        <!-- place footer here -->
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"
        integrity="sha512-lOrm9FgT1LKOJRUXF3tp6QaMorJftUjowOWiDcG5GFZ/q7ukof19V0HKx/GWzXCdt9zYju3/KhBNdCLzK8b90Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/index.js"></script>

    <script>
        <% if (flash.success && flash.success.length > 0) { %>
            new Noty({
                text: '<%= flash.success %>',
                timeout: 1500,
                theme: 'bootstrap-v4',
                layout: 'topRight',
                type: 'success',
            }).show();
        <% } %>

        <% if (flash.error && flash.error.length > 0) { %>
            new Noty({
                text: '<%= flash.error %>',
                timeout: 1500,
                theme: 'bootstrap-v4',
                layout: 'topRight',
                type: 'error',
            }).show();
        <% } %>

    </script>

</body>

</html>