body {
  font-family: "Roboto", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
i {
  margin-right: 10px;
}
header {
  background-color: #23325e;
}
.nav-menu {
  justify-content: flex-end;
}
.navbar {
  padding-inline: 20px;
}
.navbar-nav li a {
  color: aliceblue;
  text-transform: uppercase;
  font-weight: 500;
  padding-inline: 5px;
}
.navbar-nav li a:hover {
  background: beige;
  color: #23325e;
}

@media (max-width: 767px) {
  .nav-menu {
    padding-top: 20px;
  }
  .navbar-nav li a {
    padding-left: 10px;
  }
}
.user {
  margin-left: 20px;
}
.user span {
  color: #f4f4f4;
  font-size: 18px;
}
.login-brand {
  text-align: center;
  margin-bottom: 30px;
}
.loginform {
  margin: 0 auto;
  margin-top: 30px;
  width: fit-content;
}

.loginform-lp {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 500px;
  width: 500px;
  background-color: #46b8da;
  border-radius: 8px;
  margin: 0 auto;
  margin-top: 100px;
}
.loginform-lp input {
  width: 300px;
  background-color: #9fe9ff;
}
.register-rp {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 800px;
  width: 700px;
  background-color: #46b8da;
  border-radius: 8px;
  margin: 0 auto;
  margin-top: 60px;
}
.register-rp input {
  width: 400px;
  background-color: #9fe9ff;
}

#selectBtn-shape {
  min-width: 100px !important;
  height: 90px !important;
}
#selectBtn-shape-all {
  min-width: 100px !important;
  height: 90px !important;
}
#selectBtn-shape input {
  position: absolute;
  display: none;
}
#selectBtn-shape label {
  display: flex !important;
  align-items: center !important;
}
#selectBtn-shape label img {
  width: 40px;
  padding-bottom: 5px;
}

#selectBtn-shape label {
  height: 100% !important;
  width: 100% !important;
}
.selectBtn {
  min-width: 40px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid silver;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  background: #f4f4f4;
  margin: 0 0 3px 16px;
}
.selectBtn input {
  position: absolute;
  display: none;
  width: 10px;
  height: 10px;
  margin: -5px 0 0 0;
  outline: 0 !important;
  z-index: 1;
  padding-bottom: 5px;
}
.selectBtn label {
  display: grid;
  place-content: center;
  flex-direction: column;
  text-align: center;
  cursor: pointer;
  padding: 0.7em 0.5em;
  font-size: 18px;
  height: 100%;
  width: 100%;
  border: 1px solid skyblue;
  background-color: transparent;
}
.selectBtn input:checked ~ label {
  color: #fff;
  background-color: #5bc0de !important;
  border-color: #46b8da !important;
}
.selectBtn button {
  display: grid;
  place-content: center;
  flex-direction: column;
  text-align: center;
  cursor: pointer;
  padding: 0.7em 0.5em;
  font-size: 18px;
  height: 100%;
  width: 100%;
  border: 1px solid skyblue;
  background-color: transparent;
}

.selectedItem {
  color: #fff;
  border: 1px solid #46b8da;
  background-color: #5bc0de !important;
  border-color: #46b8da !important;
}

.diamond-data-table th {
  background-color: #23325e;
  color: #fff;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
